<form [formGroup]='form' (ngSubmit)='onRegister(form.value)' >
    <div class="login">       
        <input type="text" placeholder="Name" name="displayName" formControlName="displayName">
        <input type="text" placeholder="Email" name="email" formControlName="email">
        <input type="password" placeholder="Password" name="password" formControlName="password">
        <button class='formButton' type="submit" [disabled]="!form.valid">Register</button> 
        <span class='formButton seperator' >   </span>
        <button class='formButton' type='button' routerLink="/login">Sign In</button> 
        <div class='registrationError'></div>
    </div>
</form>
<div class="header">
    <div>Sirona<span> register</span></div>
</div>

          

 



  
  