
<section>
   <!--<header>
   <h1>
      <b style='color:green'>Sirona</b> healthlogger-
    </h1>

    <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Sirona<span>health</span></div>
		</div>
		<br>


    <ng-template #showLogin>
      <p>Please login.</p>
      <button >Login with Google</button>
    </ng-template>
  

  </header>-->
  <div [@routerAnimation]="getRouteAnimation(route)">
    <router-outlet #route="outlet"></router-outlet>
  </div>
</section>