<div *ngIf="data; else noDataMessage">
<ngx-charts-line-chart
[view]="view"
[scheme]="colorScheme"
[results]="data"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[schemeType]="schemeType"
[showGridLines]="showGridLines"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[autoScale]="autoScale"
[legendTitle]="legendTitle"
[timeline]="timeline"
[animations]='animations'
[tooltipDisabled]='tooltipDisabled'
[referenceLines]='referenceLines'
(select)="onSelect($event)">
</ngx-charts-line-chart>
</div>
<ng-template #noDataMessage><div class='noDataMessage'>Make an entry to plot data to graph!</div></ng-template>
