<section>
    <div class="container">
        <div class="row">
          <div class="col-5">
            <div id='treeContainer'>
              <tree (nodeSelected)="logEvent($event)" (nodeExpanded)="handleExpanded($event)" #treeComponent (nodeCreated)="handleCreated($event)" [tree]="tree" [settings]='treeSettings'></tree>
            </div>      
          </div>      
          <div class="col-7">           
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
</section>