<form [formGroup]='addMoodItemForm' (ngSubmit)='onSubmit()' role="form">
  <div class="row setup-content" id="step-0">
    <h3>Mood</h3>
      <div class="col-xs-6">
        <div class="row">
          <div class="form-group">
            <label class="control-label">General mood:</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" (update)="onUpdate($event)" [connect]="true" formControlName="generalMood"></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Energy Level</label>
           <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" (update)="onUpdate($event)" [connect]="false" formControlName="energyLevel"></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Motivation Level</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" (update)="onUpdate($event)" formControlName="motivationLevel"></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Concentration ability:</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" (update)="onUpdate($event)" formControlName="concentrationLevel"></nouislider>
          </div>
          <div class="form-group">
              <label class="control-label">Anxiety Level:</label>
              <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" (update)="onUpdate($event)" formControlName="anxietyLevel"></nouislider>
          </div>
          <!--<div class="form-group">
              <label class="control-label">Tag stress events:</label>
              <input maxlength="100" type="text" class="form-control" formControlName="stressEvents" placeholder="in litres" />   
          </div> 
          <div class="form-group">
              <label class="control-label">Estimated effect on overall mood:</label>
              <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" (update)="onUpdate($event)" formControlName="extEffectOnMood"></nouislider>  
          </div>                  
          <div class="form-group">
            <label class="control-label">Tag additonal</label>
            <input maxlength="100" type="text" class="form-control" formControlName="additionalNotes" placeholder="" />     
        </div>--> 
        <div class="form-group">     
          <button class="btn btn-success btn-lg saveFormButton" type="submit">Submit</button>
        </div>
      </div>  
    </div>     
  </div>
  </form>

