<form [formGroup]='addMoodItemForm' (ngSubmit)='onSubmit()' role="form">
  <div class="row setup-content" id="step-0">
      <div class="col-xs-1">  
          <h3 class='formTitle'><span>Mood</span></h3>
        </div>
      <div class="col-xs-11">
        <div class="row">
          <div class="form-group">
            <label class="formLabel">General Mood:</label>
            <nouislider [config]="someRange2config" [tooltips]="[true]" formControlName="generalMood"></nouislider>
          </div>
          <div class="form-group">
            <label class="formLabel">Energy:</label>
           <nouislider [config]="someRange2config" [tooltips]="[true]" formControlName="energyLevel"></nouislider>
          </div>
          <div class="form-group">
            <label class="formLabel">Motivation:</label>
            <nouislider [config]="someRange2config" [tooltips]="[true]" formControlName="motivationLevel"></nouislider>
          </div>
          <div class="form-group">
            <label class="formLabel">Concentration:</label>
            <nouislider [config]="someRange2config" [tooltips]="[true]" formControlName="concentrationLevel"></nouislider>
          </div>
          <div class="form-group">
              <label class="formLabel">Anxiety:</label>
              <nouislider [config]="someRange2config" [tooltips]="[true]" formControlName="anxietyLevel"></nouislider>
          </div>
          <div class="form-group formButtons">

              <button class="btn btn-success btn-lg formBtns saveButton" type="submit">Submit</button>
            </div>
      </div>  
    </div>     
  </div>
  </form>

