<section>
<form [formGroup]='addDietItemForm' (ngSubmit)='onSubmit()' role="form" action="" method="post">
    <h3>Diet</h3>
      <div class="col-xs-6">
        <div class="row">
          <div class="form-group">
            <label class="control-label">Appetite:</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" formControlName="appetite" ></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Cups of coffee drank:</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" formControlName="cupsOfCoffee"></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Confectionary</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" formControlName="confectionary"></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Units of Alcohol Drank:</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" formControlName="alcoholDrank" ></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Km Ran:</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" formControlName="kmRan"></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Km Walked</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" formControlName="kmWalked"></nouislider>
          </div>
          <div class="form-group">
            <label class="control-label">Km Cycled</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" formControlName="kmCycled" ></nouislider>
          </div>
         <!-- <div class="form-group">
            <label class="control-label">Cigarettes smoked:</label>
            <nouislider [config]="someRange2config" [tooltips]="[ false, true ]" formControlName="cigarettesSmoked" ></nouislider>
          </div>
          <div class="form-group">     
            <label class="control-label">Supplments:</label>
            <input maxlength="100" type="text" class="form-control" formControlName="supplements" placeholder="" />     
          </div>  
          <div class="form-group">     
            <label class="control-label">Additional Note:</label>
            <input maxlength="100" type="text" class="form-control" formControlName="additionalNotes" placeholder="" />     
          </div>  -->
          <div class="form-group">     
            <button class="btn btn-success btn-lg saveFormButton" type="submit">Submit</button>
          </div>   </div>   
  </div>
</form>
</section>
