<div class="container">  
        <div class="row setup-content" class='addEntryForm' id="step-0">
            <div class="row">
            <h3 class='fancyFont'>Make an entry!</h3></div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" routerLink="/moodForm" class="btn btn-success btn-lg">Mood</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" routerLink="/dietForm" class="btn btn-success btn-lg">Diet/Exercise</button>
                    </div>  
                    <div class="col-md-4">
                        <button type="button" routerLink="/sleepForm" class="btn btn-success btn-lg">Sleep</button>
                    </div>    
                </div>
            </div>     
        </div>
 </div>
