<div class="container">  
        <div class="row setup-content" class='addEntryForm' id="step-0">
            <div class="row">
            <h3>What kind of entry would you like to make?</h3></div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" (click)='navigateToMoodForm()' class="btn btn-secondary">Mood</button>
                    </div>
                    <div class="col-md-2">
                            <button type="button" routerLink="/exerciseForm" class="btn btn-secondary">Exercise</button>
                    </div>
                    <div class="col-md-2">
                            <button type="button" routerLink="/dietForm" class="btn btn-secondary">Diet</button>
                    </div>  
                    <div class="col-md-2">
                            <button type="button" routerLink="/sleepForm" class="btn btn-secondary">Sleep</button>
                    </div>    
                </div>
            </div>     
        </div>
 </div>
