
.container{
  margin: auto;
  width: 60%;
  padding: 0;
}

h3{
  padding:70px;
  margin:auto;
  color:#fff;
}

button{
  position: relative;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  display: none;
}

.col-md-2 {
  margin: auto;
  text-align: center;
}

h3{
  color:deepskyblue
}