@import "nouislider/distribute/nouislider.css";

body {
    background: linear-gradient(#780206, #780206);
}

html {
    background: linear-gradient(#780206, #780206);
}

h1{
    position: absolute;
    top:50%;
    right:40%;
    text-align: center;
    color: green;
}

.formButtons{
    color:white
}



