/*@import "~nouislider/distribute/nouislider.css";
@import "~http://fonts.googleapis.com/css?family=Lobster+Two";

*/
  .noDataMessage{
    position: relative;
    margin: auto;
    padding: 120px 0px 0px;
    width: 50%;

  }

  .noUi-horizontal {
    height: 3px;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 34px;
  left: -17px;
  top: -17px;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 26px;
  background: #000;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  box-shadow: inset 5 0 1px #FFF, inset 0 1px 17px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.saveFormButton {
  background-color: #45bf94;
  border: 0;
  /* padding: 10px; */
  font-size: 1em;
  border-radius: 4px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  margin: auto;
  width: 50%;
  display: block;
}


.noUi-horizontal {
  height: 2px;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 28px;
  left: -17px;
  top: -13px;
}

.saveButton{

  float:right
}


