<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12 col-lg-12 " align="center">
                <div class="box-body">
                    <div class="col-sm-6">
                        <div  align="center"> 
                            <img bind-src="myImage" class="profileImg img-circle img-responsive"/>
                        </div>
                    <div class=" col-md-9 col-lg-9 "> 
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{displayName}}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><a href="mailto:info@support.com">{{email}}</a></td>
                                </tr>
                                <tr>
                                    <td>Signed up on:</td>
                                    <td>{{signedUpOn}}</td>
                                </tr>
                                <tr>
                                    <td>Entries: </td>
                                    <td>{{userEntryCount}}</td>
                                </tr>

                            </tbody>
                        </table>       
                    <input type="file" (change)="onChange($event)"/>
                </div>
            </div>
        </div>
    </div>
</div>