
nav {
    display: flex;
    flex-direction: column;
    width: 68px;
    background-color: #53ace4;
  }
  nav .icon {
    width: 48px;
    height: 48px;
    margin: 10px;
  }
  section {
    width: 100%;
    background-color: #32435b;
  }
  section > header {
    color: #ffffff;
    padding: 10px;
  }
  section > header > h1 {
    font-size: 2em;
  }
  section > header .description {
    font-style: italic;
  }
  
  .container-fluid {
      padding-right: 0px; 
      padding-left: 0px; 
      padding-bottom: 0px; 
      padding-top: 0px; 
  }
  
  input#message {
    background:#fff;
    border:none;
    outline:none;
    box-shadow:none;
    font-size:1.6em;
    font-weight:300;
    margin-bottom: 3em;
    padding:1.2em .7em;
  }
  
  #details-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
  }
  
  #details-container p {
    background:#fff;
    padding:1.4em;
    color:#696969;
    margin: 12px;
    width:auto;
    min-width:200px;
  }
  
  img {
    display:block;
    margin-bottom:12px;
  }
  
  .wrapper{
    padding: 20px;
  }